{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container mt-4 d-flex justify-content-center flex-column ">
        
        <h1>Salut Salut</h1>
        <p>Je te souhaite la Bienvenue</p>

        <div>
        <a href="{{ path('app_post') }}" class="btn btn-success">Vien Voir</a>
        </div>
    </div>
{% endblock %}
